/*
Theme Name: eStore Child
Theme URI: https://www.themegrill.com/themes/estore/
Template: estore
Author: ThemeGrill
Author URI: https://www.themegrill.com
Description: eStore is a clean, beautiful and fully customizable responsive WooCommerce WordPress theme. This theme packs many premium features and several custom widgets which helps making your online store professional and well organized. Theme is fully compatible with WooCommerce and YITH WooCommerce Wishlist plugins. As an online store owner, attracting customers and selling products will be lot easier with this theme. Check the demo here: https://demo.themegrill.com/estore and get free support here: https://themegrill.com/support-forum/forum/estore-free/
Tags: one-column,two-columns,left-sidebar,right-sidebar,custom-colors,custom-menu,featured-images,theme-options,blog,e-commerce,custom-logo,footer-widgets,rtl-language-support,threaded-comments
Version: 1.3.0.1540456105
Updated: 2018-10-25 08:28:25

*/
.page-template-default page page-id-8 _masterslider woocommerce-account woocommerce-page woocommerce-lost-password woocommerce-js #page .site-header{
	display:none;
}

.page-id-0 .site-header {
	display:none;
}
.page-id-0 .widget-area {
	display:none;
}

.page-id-0 #bottom-footer{
	display:none;
}

.page-id-0 .tml-links{
	display:none;
}
.page-id-2727 .site-header {
	display:none;
}
.page-id-2727 .widget-area {
	display:none;
}

.page-id-2727 #bottom-footer{
	display:none;
}

.page-id-2727 .tml-links{
	display:none;
}
